* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #2f6f1e;
  height: 100vh;
}

#grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  border: 6px solid white;
}

#grid div {
	border-color: #3f7f1f;
	border: 6px solid white;
	color: white;
	font-size: 48px;
	padding: 15px;
}

.one{
	grid-column: 1 / 5;
}

.two{
	grid-column: 1 / 2;
	grid-row: 2 / 6;
}

.three {
	grid-column: 2 / 3;
	grid-row: 2 / 3; 
}

.four{
	grid-column: 3/5;
	grid-row: 2/3;
}

.five{
	grid-column: 2/4;
	grid-row: 3/4;
}

.six{
	grid-column: 4/5;
	grid-row: 3/4;
}

.seven{
	grid-column: 2/3;
	grid-row: 4/5;
}

.eight{
	grid-column: 3/4;
	grid-row: 4/5;
}

.nine{
	grid-column: 4/5;
	grid-row: 4/5;
}

.ten{
	grid-column: 2/5;
	grid-row: 5/6;
}