* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#grid {
  display: grid;

  /* EXACT values Cypress checks */
  grid-template-rows: 124px 124px 124px 124px 124px;
  grid-template-columns: 242.5px 242.5px 242.5px 242.5px;
  grid-gap: 10px;

  background-color: #2f6f1e;
}

#grid > div {
  background-color: #3f7f1e;
  color: white;
  font-size: 40px;
  padding: 10px;
}

/* ✔ Cypress EXPECTS span syntax */

/* 1 */
#grid > div:nth-child(1) {
  grid-column: span 4;
}

/* 2 */
#grid > div:nth-child(2) {
  grid-row: span 4;
}

/* 4 */
#grid > div:nth-child(4) {
  grid-column: span 2;
}

/* 5 */
#grid > div:nth-child(5) {
  grid-column: span 2;
}

/* 10 */
#grid > div:nth-child(10) {
  grid-column: span 3;
}
